@mixin gridSettings {
    display: grid;
    align-items: center;
    grid-template-columns: 140px 220px;
    grid-template-rows: auto;
    float: none;
    font-size: 11pt;
}

@mixin notifications {
    width: 30%;
    display: grid;
    float: left;
    margin-top: 15px;
}

#holidaysExtra {
    display: grid;
    align-items: center;
    grid-template-columns: 180px 190px;
    grid-template-rows: 30px 55px;

    .cardbox2 {
        height: 50px;
        width: 90%;
        border-radius: 25px;
        margin: unset;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .cardbox3 {
        grid-template-columns: 45px 105px;
        margin-top: 0;

    }

    p {
        grid-row-start: 1;
        grid-column-start: 2;
        margin: 0;
    }

    label {
        margin: 0;
        text-align: -webkit-center;
    }
}

#holidaysExtra2 {
    display: grid;
    grid-template-columns: 180px 75px 25px;
    grid-template-rows: 30px;
    margin-top: 30px;

    label {
        text-align: -webkit-center;
    }
}

#holidaysExtra3 {
    display: grid;
    grid-template-columns: 180px 80px;
    grid-template-rows: 30px;
    margin-top: 30px;

    label {
        text-align: start;
    }
}

#evaluations1 {
    display: grid;
    grid-template-columns: 140px 80px;
}

#evaluations2 {
    display: grid;
    grid-template-columns: 140px 80px 50px;
    margin-top: 35px;
    p {
        text-align: center;
    }
}

.modal-body2 {
    margin-left: 20px;
    margin-top: 25px;
    align-items: center;
    display: grid;
    grid-template-rows: 45px;
    grid-template-columns: 120px 200px;
}

#hoursflextime {
    display: grid;
    grid-template-columns: 140px 80px 20px;
    grid-template-rows: 30px;
}

#daysflextime {
    display: grid;
    grid-template-columns: 140px 135px 20px;
    grid-template-rows: 50px;
    label{
        text-align: center;
        margin-left: 55px;
    }
}

#general {
    p {
        margin: auto;
        margin-top: 20px;
        color: rgba(128, 128, 128, 0.692);
        font-size: 10pt;
    }

    hr {
        width: 20%;
        display: inline-block;
        margin-top: 5px;
        display: flex;
        margin: 0;
    }

    #companyline {
        margin-bottom: 20px;
    }
}

#allnotifications,
#holidaysnoti,
#birthdaynoti,
#evaluationsnoti,
#flextimenoti,
#notworkingnoti {
    @include notifications();
}

#settingstab {
    margin: 0;
}

.cardboxsettings {
    height: 90%;
    width: 90%;
    margin: auto;
    border-radius: 25px;
}

#entreprisename,
#companyaddress,
#generalemail,
#generalmobile,
#country {
    @include gridSettings();
}

#entreprisename,
#generalemail {
    float: left;
    margin-right: 60px;
}

#generalemail,
#generalmobile,
#country {
    margin-top: 20px;
}

.settingsform {
    margin-top: 40px;
}

.bsettings {
    width: 25%;
    margin-top: 20px;
}

@import '../../../screens/components/settings/_settings';
