@media screen and (min-width: 800px) {
    #login_first {
        width: 160%;
    }

    .login_box {
        top: 60%;
        width: 60%;
    }
}

@media screen and (min-width: 1000px) {
    #login_first {
        width: 100%;
    }

    .login_box {
        width: 35%;
    }
}
