@mixin divs {
    display: grid;
    grid-template-columns: 110px 200px;
    margin: auto;
    align-items: baseline;
    margin-top: 30px;
    justify-content: center;
}

.email,
.roleregister,
.newname,
#rolenew,
.departmentEmployeesAlign {
    @include divs();
}

#rolenew {
    display: none;
}

.registeremployee {
    margin: auto;
    margin-top: 30px;
    width: 25%;
    display: flex;
    justify-content: center;
}

#pills-tab {
    margin-left: 17px;
}

//Imagens da tabela
.sliderResize {
    height: 50px;
    width: 60px;
}

.registerButton{
    display: grid;
}

@import '../../../screens/components/employees/_employees';
