@mixin gridBox {
    display: grid;
    align-items: center;
    grid-template-columns: 86px 220px 40px;
    grid-template-rows: auto;
    float: left;
    font-size: 11pt;
}

.formSurvTest{

    @include gridBox();

}
.centerStyle{
    h4{
        margin-top: 3%;
        text-align: center;
        font-family: Helvetica;
        color: #a7b530;
    }
}

.finalAverage{
    margin-top: 5%;
    margin-left: 30px;

    #lineform {
        display: flex;
        margin-left: 0;
    }
    p{
        margin: auto;
        color: rgba(128, 128, 128, 0.692);
        font-size: 10pt;
    }
    hr{
        width: 160px;
        margin-left: 0;
        margin-top: 5px;
    }
}

.showFinalAverage{
    width: 25%;
}
.showFinalAverageGrid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 120px 120px 120px;
    grid-template-columns: 200px 200px 347px;
    margin: auto;
    /* width: 400px; */
    text-align: center;
    grid-gap: 20px;


}

#tableStyle{
    color: white;
    font-family: Helvetica;
}

#tableFormat{
    text-align: center;
    margin-top: 4%;
}

#myChart {
    // max-width: 500px;
    // max-height: 900px;
    // background-color: red;
}
.chartStyle{
    width: 400px;
    margin: auto;
    margin-top: 4%;
}
.colors{
    h2{

        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        color: rgba(128, 128, 128, 0.692);
    }
}

@import '../../../screens/components/finalAverage/_finalAverage.scss';
