@media (min-width: 320px) and (max-width: 800px) {
    #reportbtn{
        margin-top: 20px;
        font-family: helvetica;
        text-align: center;
        margin-left: 20px;
        width: 100px;
        margin-bottom: 15px;
    }

}
