.cardbox11 {
    height: 100%;
    width: 90%;
    margin: auto;
    border-radius: 25px;
}
.surveyHeader{

    margin-top: 2%;

    h1{
        font-family: Helvetica;
        text-align: center;
        color: rgb(133, 107, 106);

    }

    h4{
        margin-top: 1%;
        font-family: Helvetica;
        text-align: center;
        color: rosybrown;


    }

    h5{
        margin-top: 1%;
        font-family: Helvetica;
        color: red;
        text-align: center;

    }

}

.numQuestions{
                margin-top: 3%;

}
.areaLi{
    background-color:#206e81;
    font-size: 20px;
    color: white;
    font-family:Helvetica;
    margin-top: 1%;

}
.subLi{
    background-color: #8eb9c4;
    color: white;
    font-size: 17px;
    font-family: Helvetica;
    width: 300px;
    margin-left: 15px;
    text-align: center;
}
.pontencialQuest{
            color: blue;
            font-family: Helvetica;

}
#openClass{
            text-align: center;
            color: rgb(163, 57, 57);
}
#areaText{
            width: 1000px;
}
#openLi{
    font-size: 22px;
}
.emptySpace{
    font-family:Helvetica;
    color: red;
}
#size{
    width: 10%;
}

#areaLabel{
    margin-left: 1%;
}

#surveyBtn{
    text-align: center;
}

