//WINDOW 768PX UP
@media screen and (min-width: 768px) {

    .role,
    .typeofcontract,
    .companymobile,
    .department,
    .companyemail {
        float: left;
    }

    .admissiondate label,
    .endofcontract label,
    .departmentmanager label,
    .companymobile label{
        margin-left: 20px;
    }

}

@media (min-width: 425px) and (max-width: 1024px) {
    .role,
    .typeofcontract,
    .companymobile,
    .department,
    .admissiondate,
    .endofcontract,
    .companyemail,
    .departmentmanager {
        grid-template-columns: 86px 190px 40px;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 425px) {
    .role,
    .typeofcontract,
    .companymobile,
    .department,
    .admissiondate,
    .endofcontract,
    .companyemail,
    .departmentmanager {
        grid-template-columns: 86px 140px 40px;
        grid-template-rows: auto;
    }

}
