// =============================================================================
//
//  MOBILE FIRST = (-800PX WINDOWS USE THIS PROPERTYS AND GENERAL)
//
//  @author André Surra
//
//==============================================================================

.login_box {
    position: absolute;
    margin: auto;
    left: auto;
    top: 60%;
    transform: translateY(-50%);
    width: 80%;
}

#login_first {
    width: 100%;
    top: 0;
    right: 0;
    height: auto;
    position: absolute;
}

.card_login {
    border-radius: 30px;
}

#btnlogin {
    margin-top: -13px;
}

#linkfp {
    margin-top: -13px;
}

@import '../../../screens/components/login/login';
