// @media screen and (device-width: 600px) - Apenas um ecrã

@media screen and (max-width: 600px) {

    .email,
    .roleregister,
    .newname,
    #rolenew,
    .departmentEmployeesAlign {
        grid-template-columns: 100px 150px;
    }

    #newTeamName,
    #selectTeam,
    #teamLeader {
        grid-template-columns: 110px 135px;
    }

    #addLeader {
        grid-template-columns: 112px 135px;
        grid-template-rows: 40px 80px;

        button {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}
