#profile2{
    border-radius: 30%;
    width: 250px;
    height: auto;
    height: 250px;
    margin-bottom: 3%;
}

@mixin gridBox2 {
    display: grid;
    align-items: center;
    grid-template-columns: 86px 220px 40px;
    grid-template-rows: auto;
    font-size: 11pt;
}

// .bprofile2{
//     width: 24%;
//     display: flex;
//     justify-content: center;
// }

.role,
.admissiondate,
.typeofcontract,
.endofcontract,
.companymobile,
.companyemail,
.department,
.departmentmanager{
    @include gridBox2();
}

.role p,
.admissiondate p,
.typeofcontract p,
.endofcontract p,
.companymobile input,
.companyemail input,
.department p,
.departmentmanager p{
    margin-left: 40px;
}

#inputdoc {
    width: 25%;
}

@import '../../../screens/components/profissional_info/_profissional_info';
