@media (min-width: 320px) and (max-width: 1024px) {

    .survey{
            margin-left: -15%;

    }
    .surveyname{
                display: grid;
                align-items: center;
                grid-template-rows: 50px 40px;
                grid-template-columns: 263px 0;
                input{
                    margin-left: 40px;
                }
    }
    .answerlimit{
                display: grid;
                align-items: center;
                grid-template-rows: 50px 40px;
                grid-template-columns: 263px 0;
                input{
                    margin-left: 40px;
                }
    }
    .surveytype{
                grid-template-rows: 50px 40px;
                grid-template-columns: 263px 0;
                select{
                    margin-left: 40px;
                }
                button{
                    grid-column-start: 1;
                    width: 265px;
                    margin-top: 10px;
                }

    }
    .creatSurvey{
                width: 50%;
                margin-left: 26%;
    }
    .showSurveyForm{
                display: grid;

                grid-template-rows: 50px 40px;
                grid-template-columns: 263px 0;
                margin-left: 0px;

                button .showSurvey{
                    grid-column-start: 1;
                    width: 265px;
                    margin-top: 10px;
                }
    }
    .showSurv11{
        grid-template-columns: 86px 140px;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-gap: 0px;
    }

    .alignbtn{
        display: grid;
        grid-auto-columns: 240px;
        grid-gap: 5%;
        margin-bottom: 20%;
    }
    .showSurveyForm2{

                        button{
                                grid-column-start: 1;
                                width: 150px;
                        }

                        select{
                                margin-left: 40px;
                        }
    }

    .testgrid2{

                grid-template-columns: 86px 140px 70px;
                text-align: start;
                grid-gap: 0%;
                .marginSelect{
                        margin-top: 5%;
                }
                #strongGrid{
                        margin-top: 5%;
                }
                select{
                        margin-left: 40px;
                }
                button{
                        grid-column-start: 1;
                        width: 265px;
                    margin-top: 10px;
                }
                strong{
                        grid-column-start: 1;
                }

    }

    .testgrid3{
                grid-template-columns: 86px 140px 70px;
                text-align: start;
                grid-gap: 0%;

                input{
                        margin-left: 40px;
                }

                button{
                    grid-column-start: 1;
                    width: 265px;
                    margin-top: 10px;
                }
    }
    .showSurveyForm5{
                        // margin-top: 30%;
    }

    .testgrid33{
                grid-template-columns: 86px 140px 70px;
                text-align: start;
                grid-gap: 0%;

                select{
                        margin-left: 40px;
                }
                button{
                        grid-column-start: 1;
                        width: 265px;
                        margin-top: 10px;
                }

    }
    .topSurv{
                margin-top: 30%;
    }

    .showSurv6{
                        input[type=radio]{
                            width: 15%;
                            margin-left: 10%;
                        }
                        display: grid;
                        grid-template-columns: 100px 100px 100px;

                        #start2{
                                grid-column-start: 2;
                        }

    }
    .testgrid7{
                grid-template-columns: 86px 140px 30px;
                grid-gap: 0px;

                    select{
                        margin-left: 40px;
                    }
                    button{
                        grid-column-start: 1;
                        width: 265px;
                        margin-top: 10px;
                    }
                    label{
                        text-align: start;
                    }

    }
    .testgrid5{
                text-align: start;
                grid-template-columns: 86px 140px;

                input{
                        margin-left: 40px;
                        }


    }
    .testgrid6{
                text-align: start;

                grid-gap: 0px;
                grid-template-columns: 86px 140px 100px;
                select{
                    margin-left: 40px;
                }
                button{
                        grid-column-start: 1;
                        width: 265px;
                        margin-top: 10px;
                }
    }
    .testgrid8{
                text-align: start;
                grid-template-columns: 86px 140px 100px;
                input{
                        margin-left: 40px;
                        text-align: center;

                }
                b{
                    grid-column-start: 1;
                }
    }
    #params{
                display: grid;
                grid-template-columns: 125px 45px 100px;
    }
    .showSurv66{
                display: grid;
                grid-template-columns: 45px 59px;
                grid-column-start: 2;
                input[type=radio]{
                    width: 25px;

                }
    }
    .testgrid10{
                text-align: start;
                grid-template-columns: 86px 140px 40px;
                grid-gap: 0px;
                select{
                    margin-left: 40px;
                }
                button{
                        grid-column-start: 1;
                        width: 265px;
                        margin-top: 10px;
                }
    }

    .testgrid12{
                grid-template-columns: 30px 95px 140px;
                grid-gap: 0%;

                input{
                        margin-top: 5px;
                }
                select{

                }
                .secondSelect{
                    display: inline;
                    grid-column-start: 3;
                }
    }

    .testgrid13{
                text-align: start;
                grid-template-columns: 86px 140px 150px;
                grid-gap: 0px;

                input[type=date]{
                        grid-column-start: 1;
                }
                button{
                        grid-column-start: 1;
                        width: 265px;
                        margin-top: 10px;
                }
                #limitdate{
                        grid-column-start: 2;
                        margin-left: 40px;
                }

    }
    .testgrid14{

                font-size: large;
                width: 400px;
                margin: auto;
                grid-gap: 2%;
                margin-top: 40px;
                color: grey;
                font-family: Helvetica;
                display: grid;
                grid-template-columns: 110px 40px 131px 100px;
                button{
                    grid-column-start: 1;
                    width: 265px;
                    margin-top: 10px;
                }
                input[type=checkbox]{
                                    margin-top: 14%;
                                // grid-column-start: 1;
                                // width: 100px;
                                // height: 20px;
                }


    }

}
@media (min-width: 320px) and (max-width: 330px) {
    .showSurv2{
        label{
            margin-left: 100px;
        }
        button{
            margin-left: 43px;
        }
    }

}
@media (min-width: 330px) and (max-width: 375px) {
    .showSurv2{
            grid-template-columns: 86px 140px 200px;
            width: 0%;
            grid-gap: 0px;
        input{
            margin-left: 40px;
        }
        button{
            grid-column-start: 1;
            width: 265px;
            margin-top: 10px;

        }
    }
}

@media (min-width: 340px) and (max-width: 350px) {

    .surveyname,
    .answerlimit,
    .surveytype,
    .showSurv{
            margin-left: 15px;
    }
    .showSurveyForm{
           button{
                    grid-column-start: 1;
                    width: 100px;
                    margin: auto;
           }
    }
}

@media (min-width: 350px) and (max-width: 375px) {
    .surveyname,
    .answerlimit,
    .surveytype,
    .showSurv{
        grid-template-columns: 86px 140px;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-gap: 0px;
    }
    .showSurveyForm{
        button{
            grid-column-start: 1;
            width: 265px;
            margin-top: 10px;
            }
            select{
                margin-left: 40px;
        }
    }
    .alignbtn{
            margin-left: 20px;
    }

}
@media (min-width: 400px) and (max-width: 425px) {
    .surveyname,
    .answerlimit,
    .surveytype,
    .showSurv{
            margin-left: 40px;
    }
    .showSurveyForm{
        button{
            grid-column-start: 1;
            width: 150px;
            margin: auto;
            margin-left: 100px;
        }
    }
    .alignbtn{
        margin-left: 40px;
    }
    #hideArea,
    #hideQuestions,
    #hideSubCat{
        margin-left: 45px;
    }
}
@media (min-width: 750px) and (max-width: 770px) {
    .surveyname{
        margin-right: 20px;
        margin-left: 50px;
    }
    .surveytype{
        margin-left: 200px;
    }
    #marginMobile{
        margin-top: 150px;
    }
    .showSurveyForm{
        margin-left: 190px;
    }
    .alignbtn{
        margin-left: 180px;
    }
    #hideArea,
    #hideQuestions,
    #hideSubCat{
        margin-left: 200px;
    }
    .showSurv7{

        margin-left: 125px;

    }

}






