@mixin gridBox {
    display: grid;
    align-items: center;
    grid-template-columns: 180px 220px;
    grid-template-rows: auto;
    float: none;
    font-size: 11pt;
}

.bprofile {
    width: 240px;
}

.birthday,
.academic,
.status,
.username,
.age,
.mobile,
.emailprofile,
.nif,
.address,
.city,
.zipcode,
.soscontact,
.linkedin,
.sosusername {
    @include gridBox();
}

#profile {
    border-radius: 30%;
    width: 250px;
    height: 250px;
    position: absolute;
}
#imageProfile,
#changeImageProfile{
    margin-left: 30px;
}

.box1 {
    margin-left: 30px;
    margin-top: 200px;

    p {
        margin: auto;
        color: rgba(128, 128, 128, 0.692);
        font-size: 10pt;
    }

    hr {
        width: 20%;
        display: inline-block;
        margin-top: 5px;
    }
}

.cardbox1 {
    height: 99%;
    width: 90%;
    margin: auto;
    border-radius: 25px;
}

.status {
    label {
        margin-left: 0;
    }
}

.element {
    display: inline-flex;
    align-items: center;

    #imagefile {
        font-size: 25px;
        padding: 0;
        margin-left: 4px;
        margin-top: 2px;
    }

    .cardbox4 {
        position: relative;
    }

    i.fa-camera {
        cursor: pointer;
        font-size: 30px;
        margin: auto;
    }

    i:hover {
        opacity: 0.6;
    }

    input {
        display: none;
    }
}

.profileform {
    margin-top: 18%;

    #lineform {
        display: flex;
        margin-left: 0;
    }
}

.cardbox4 {
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 35px;
    align-items: baseline;
}

#searchpp {
    margin-bottom: 0px;
}

@import '../../../screens/components/personal_info/_personal_info';
