@media (min-width: 425px) and (max-width: 1024px) {
    #companyaddress {
        margin-top: 20px;
    }

    #entreprisename,
    #generalemail {
        float: none;
    }

    #entreprisename,
    #companyaddress,
    #generalemail,
    #generalmobile,
    #country {
        grid-template-columns: 140px 190px;
    }

    #allnotifications,
    #holidaysnoti,
    #birthdaynoti,
    #evaluationsnoti,
    #flextimenoti,
    #notworkingnoti {
        float: none;
        grid-template-columns: 250px;
        grid-template-rows: 45px;
        margin-top: 0;
    }

    #allnotifications {
        margin-top: 15px;
    }
}

@media (max-width: 425px) {
    .modal{
        width: 95%;
    }
    #holidaysExtra {
        grid-template-columns: 180px 160px;
    }

    .cardbox3 {
        h6 {
            font-size: 10pt;
        }
    }
}
