@mixin gridBox {
    display: grid;
    align-items: center;
    grid-template-columns: 86px 220px 40px;
    grid-template-rows: auto;
    float: left;
    font-size: 11pt;
}

.gridTop{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50px 300px 200px;

}
.grid{
    display: grid;
    grid-template-columns: 50px 300px 200px;

}

.testgrid2{
    display: grid;
    grid-template-columns: 80px 300px 10px 300px 200px;
    text-align: center;
    grid-gap: 2%;
}
.testgrid3{
    display: grid;
    grid-template-columns: 80px 300px 200px;
    text-align: center;
    grid-gap: 8%;
}
.testgrid33{
    display: grid;
    grid-template-columns: 80px 300px 200px;
    text-align: center;
    grid-gap: 2%;
}
.testgrid4{
    display: grid;

}
.testgrid5{
    display: grid;
    grid-template-columns: 176px 1100px;
    grid-gap: 2%;
}
.testgrid6{
    display: grid;
    grid-template-columns: 176px 300px 50px;
    grid-gap: 2%;
    margin-top: 1%;

}
.testgrid7{
    display: grid;
    grid-template-columns: 176px 300px 50px;
    grid-gap: 2%;

}
.testgrid8{
    display: grid;
    grid-template-columns: 176px 150px 50px;
    grid-gap: 2%;
    margin-top: 1%;
}
.testgrid10{
    display: grid;
    grid-template-columns: 176px 550px 40px;
    grid-gap: 2%

}
.testgrid11{
    display: grid;
    grid-template-columns: 176px 550px ;


}
.testgrid12{
    display: grid;
    grid-template-columns: 76px 100px 200px ;
    width: 400px;
    margin: auto;

}

.testgrid13{
    display: grid;
    grid-template-columns: 120px 150px 150px;
    width: 400px;
    margin: auto;
    grid-gap: 10%;
    margin-top: 2%;


}
.testgrid14{
    font-size:large;
    width: 400px;
    margin: auto;
    grid-gap: 10%;
    margin-top: 2%;
    color: grey;
    font-family: Helvetica;

}
.aligment{
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: Helvetica;
    margin-left: 20%;
    color: grey;
}
.showSurv66{

}
input[type=radio] {
    border: 20px;
    width: 2%;
    height: 1em;
}

.testgrid-template-rows-1 {
	grid-template-rows: 50px 100px 500px;
}
.gridtest2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.testgrid2-template-rows-1{
    grid-template-rows: 50px 100px 500px 100px 100px;
}
.surveyname,
.answerlimit,
.surveytype,
.showSurv,
.showSurv2{

    @include gridBox();

}
.showSurv6{
    margin-top: 3%;
    text-align: center;
    font-size: x-large;
    font-family: Helvetica;
    color: rgb(116, 87, 87);
}
.showSurv7{

}
.multiColor {

    // background: linear-gradient(-60deg, #c4a0a0 50%, #99ca99 50%);
}
.alignbtn{
        margin-top: 2%;
        text-align: center;
}
.btncreate{
    width: 300%;
}

.creatSurvey{
    width: 25%;
}
.showSurvey{
    width: 25%;
}
.showSurv2{
    width: 25%;
}
.showSurv3{
    width: 25%;
}

.btnAlign{
    text-align: center;
}

.hrStyle {
    display: flex;
    margin-left: 0;
}

.firstbox {
    margin-left: 4%;
    margin-top: 3%;

    h2 {
        margin: auto;
        color: rgba(128, 128, 128, 0.692);
        text-align: center;
    }

    p {
        margin: auto;
        color: rgba(128, 128, 128, 0.692);
        font-size: 10pt;
    }

    hr {
        width: 20%;
        display: inline-block;
        margin-top: 5px;
    }
}

.ndbox {
    margin-left: 4%;
    margin-top: 3%;

    h2 {
        margin: auto;
        color: rgba(128, 128, 128, 0.692);
        text-align: center;

    }
    h4 {
        margin: auto;
        color: rgba(114, 50, 50, 0.692);
        text-align: center;
        font-size: xx-large;
    }

    p {
        margin: auto;
        color: rgba(128, 128, 128, 0.692);
        font-size: 10pt;
    }

    hr {
        width: 20%;
        display: inline-block;
        margin-top: 5px;
    }
}

.createsurveyform {
    margin-top: 8%;

    #lineform {
        display: flex;
        margin-left: 0;
    }
}

.showSurveyForm {
    margin-top: 5%;
    margin-left: 30%;

    #lineform {
        display: flex;
        margin-left: 0;
    }
}
.showSurveyForm2 {
    margin-top: 5%;

    #lineform {
        display: flex;
        margin-left: 0;
    }
}
.showSurveyForm3{
    margin-top: 5%;

    #lineform {
        display: flex;
        margin-left: 0;
    }
}
#check{
    color: green;
}
#remove{
    color: red;
}

.surveybox {
    box-sizing: border-box;
    border: 10px red;
    height: 98%;
    width: 90%;
    margin: auto;
    border-radius: 25px;
}
.edit-form-control{
    display: block;
    width: 300%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@import '../../../screens/components/createsurvey/_createsurvey.scss';
