.content {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#logout {
    margin-left: 11%;
}

#log_name {

    h5,
    h6 {
        color: white;
        margin: auto;
        margin-bottom: 3%;
        text-align: center;
    }

}

#pholidays2,
#pholidays,
#pabsences,
#timeAll {
    display: grid;
    grid-template-rows: 20px 10px;

    p {
        margin: auto;
        color: rgba(128, 128, 128, 0.692);
        font-size: 10pt;
    }

    hr {
        width: 100px;
        margin-top: 5px;
    }
}

#p1 {
    font-size: 15px;
    color: black;
    margin-top: 0px;
}

#btnupload {
    margin-left: 0%;
}

.controls-top {
    display: grid;
    grid-template-columns: 25px 25px;
    margin: auto;
    width: 50px;
}

#box1,
#box2,
#box3 {
    width: 290px;
    height: 210px;
    border-radius: 20px;
    text-align: center;
}

#box1,
#box2,
#box3 {
    p {
        margin: auto;
    }
}


#infoModal {
    display: grid;
    grid-template-columns: 220px;
    text-align-last: center;
    margin-left: 100px;
}

#ptotal,
#year1,
#currentyear1,
#year2,
#pabsences,
#currentyear2,
#timeaccomplished {
    font-size: large;
}

#pabsences {
    display: grid;
}

#wrap {
    width: 100%;
    margin: auto;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    width: 95%;
    border-radius: 20px;
}

#pTotalHolidays {
    display: grid;
    grid-template-columns: 70px;
    width: 70px;
    margin: auto;
}

#currentYear1 {
    display: grid;
    grid-template-columns: 70px 50px;
    width: 135px;
    margin: auto;
}

#multi-item-example {
    display: grid;
    grid-template-columns: 600px;
    margin: auto;
    width: 600px;
    margin-bottom: 100px;
    grid-template-rows: 100%;
}

#allboxes2 {
    text-align: center;
    height: 400px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px;
}

#allboxes {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    width: 900px;
    margin: auto;
    margin-bottom: 70px;
}

.dot1 {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: grid;
    margin: auto;
    border: 1px solid #00ff3a61;
    background-color: #90ee90;
    margin-top: 10px;
}


.dot2 {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid #dc3545;
    background-color: #d26a5c;
    ;
}

#label3 {
    margin-top: 12%;
    color: white;
    font-size: 35px;
    font-family: monospace;
}

#ptotalabsences {
    color: white;
    font-size: 35px;
    font-family: monospace;
}

#dotAbsences {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: 80px;
    width: 80px;
    margin: auto;
    margin-top: 10px;

    .dot2,
    #ptotalabsences {
        grid-column-start: 1;
        grid-row-start: 1;
        margin: auto;
    }
}

/* Style all font awesome icons */
#social {
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.sliderResize2 {
    height: 120px;
}

.carousel-item {
    margin-top: 20px;
}

.card-body {
    height: 200px;
}

.card-title {
    margin-bottom: 1rem;
}

.fc-view-container {
    height: 780px;
    width: 90%;
    margin: auto;
}

@import '../../../screens/components/main_page/_mainpage';
