#logout {
    margin-left: 11%;
}

#log_name {

    h5,
    h6 {
        color: white;
        margin: auto;
        margin-bottom: 3%;
        text-align: center;
    }

}

#p1 {
    font-size: 15px;
    color: black;
    margin-top: 0px;
    font-family: sans-serif;
    margin-left: 70px;
}

#btnupload{
    margin-left: 0%;
}

.custom-file {
    width: 25%;
}

// #companymobile2{
//     margin-left: 65px;
//     width: 80%;
//     font-size: 15px;
//     margin-bottom: auto;
// }

// #companyemail2{
//     margin-left: 65px;
//     width: 80%;
//     font-size: 15px;
//     margin-bottom: auto;
// }

@import '../../../screens/components/main_page/_mainpage';
