@media (min-width: 1300px) and (max-width: 1500px) {

    #box1{
        margin-left: 127px;
        width: 17%;
        margin-top: 367px;
    }

    #box2{
        margin-left: -4px;
        width: 17%;
    }

    #box3{
        margin-left: 266px;
        width: 17%;
    }

    #allboxes {
        margin-top: -411px;
        margin-left: 1px;
      }

    #allboxes2{
        margin-left: 223px;
        width: 100%;
    }

    #calendar{
        margin-right: -20px;
    }

    #ptotal {
        margin-left: 44%;
        margin-top: -102px;
    }

    #year1 {
        margin-left: 48px;
    }

    #currentyear1 {
        margin-left: 168px;
    }

    #pholidays {
        margin-top: 4px;
    }

    #year2 {
        margin-left: 44px;
    }

    #pabsences {
        margin-top: -14px;
    }

    #currentyear2 {
        margin-left: 167px;
    }

    .controls-top {
        margin-left: 470px;
        margin-top: -19px;
    }
}