@media screen and (max-width: 700px) {

    .sizeMobile {
        width: 230px;
        display: grid;
        grid-template-columns: 230px 30px;
        margin: auto;
    }

    #multi-item-example {
        grid-template-columns: 320px;
        width: 320px;
        margin-bottom: 30px;
    }

    #box1,
    #box2,
    #box3 {
        width: auto;
        height: 300px;
        margin-bottom: 40px;
    }

    #allboxes {
        grid-template-columns: 320px;
        width: 320px;
        margin-bottom: 30px;
    }

    #allboxes2 {
        height: 340px;
        grid-template-columns: 320px;
    }

    #pTotalHolidays,
    #currentYear1 {
        p {
            font-size: 21pt;
        }
    }

    #timeaccomplished {
        font-size: 21pt;
    }

    #currentYear1 {
        grid-template-columns: 100px 100px;
        width: 200px;
    }

    #pTotalHolidays {
        grid-template-columns: 110px;
        width: 110px;
    }

    #pholidays2,
    #pholidays,
    #pabsences,
    #timeAll {
        grid-template-rows: 40px 10px;

        p {
            font-size: 18pt;
        }
    }

    #dotAbsences {
        grid-template-columns: 60px 150px;
        grid-template-rows: 100px;
        grid-template-rows: 100px;
        width: 210px;

        p,
        h3 {
            font-size: 70px;
        }
    }

    .daysAvaila {
        grid-template-columns: 100px 160px;
        width: 260px;

        #label3,
        h3 {
            font-size: 70px;
        }
    }

    #timeaccomplished {
        font-size: 50px;
    }

    #timeAll2 {
        h3 {
            font-size: 50px;
        }
    }
}
