
//WINDOW 768PX UP
@media screen and (min-width: 768px) {

    .username,
    .academic,
    .age,
    .emailprofile,
    .address,
    .sosusername {
        float: left;
    }

    .status label,
    .birthday label,
    .nif label,
    .city label,
    .soscontact label {
        margin-left: 20px;
    }

}

@media (min-width: 425px) and (max-width: 1024px) {
    .birthday,
    .academic,
    .status,
    .username,
    .age,
    .mobile,
    .emailprofile,
    .nif,
    .address,
    .city,
    .zipcode,
    .soscontact,
    .sosusername,
    .linkedin {
        grid-template-columns: 86px 190px 40px;
        grid-template-rows: auto;
    }
}

@media (min-width: 374px) and (max-width: 425px){
    .birthday,
    .academic,
    .status,
    .username,
    .age,
    .mobile,
    .emailprofile,
    .nif,
    .address,
    .city,
    .zipcode,
    .soscontact,
    .sosusername,
    .linkedin {
        grid-template-columns: 86px 140px;
        grid-template-rows: auto;
    }

    .birthday input,
    .academic input,
    .status input,
    .username input,
    .age input,
    .mobile input,
    .emailprofile input,
    .nif input,
    .address input,
    .city input,
    .zipcode input,
    .soscontact input,
    .sosusername input,
    .linkedin input,
    .academic select,
    .status select {
        margin-left: 30px;
        width: 220px;
    }

    #profile {
        margin-left: 33px;
    }

    .cardbox4 {
        margin-left: 33px;
    }

    .box1 {
        margin-left: 17px;
    }

    .bprofile {
        width: 342px;
    }
}



@media (min-width: 370px) and (max-width: 375px){
    .birthday input,
    .academic input,
    .status input,
    .username input,
    .age input,
    .mobile input,
    .emailprofile input,
    .nif input,
    .address input,
    .city input,
    .zipcode input,
    .soscontact input,
    .sosusername input,
    .linkedin input,
    .academic select,
    .status select {
        margin-left: 30px;
        width: 215px;
    }

    .cardbox1 {
        margin-left: 17px;
        width: 92%;
    }

    #profile {
        margin-left: 13px;
    }

    .box1 {
        margin-left: 2px;
        margin-top: 200px;
    }

    .bprofile {
        width: 332px;
    }
}



@media screen and (max-width: 320px){
    .birthday,
    .academic,
    .status,
    .username,
    .age,
    .mobile,
    .emailprofile,
    .nif,
    .address,
    .city,
    .zipcode,
    .soscontact,
    .sosusername,
    .linkedin {
        grid-template-columns: 70px 135px;
    }

    .birthday input,
    .academic input,
    .status input,
    .username input,
    .age input,
    .mobile input,
    .emailprofile input,
    .nif input,
    .address input,
    .city input,
    .zipcode input,
    .soscontact input,
    .sosusername input,
    .linkedin input,
    .academic select,
    .status select {
        margin-left: 30px;
        width: 176px;
    }

    .bprofile {
        width: 275px;
    }

    .box1 {
        margin-left: 2px;
        margin-top: 200px;
    }

    #profile {
        margin-left: -14px;
    }
}
