
//WINDOW 768PX UP
@media screen and (min-width: 768px) {

    .username,
    .academic,
    .age,
    .emailprofile,
    .address,
    .sosusername {
        float: left;
    }

    .status label,
    .birthday label,
    .nif label,
    .city label,
    .soscontact label {
        margin-left: 20px;
    }

}

@media (min-width: 425px) and (max-width: 1024px) {
    .birthday,
    .academic,
    .status,
    .username,
    .age,
    .mobile,
    .emailprofile,
    .nif,
    .address,
    .city,
    .zipcode,
    .soscontact,
    .sosusername,
    .linkedin {
        grid-template-columns: 86px 190px 40px;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 425px) {
    .birthday,
    .academic,
    .status,
    .username,
    .age,
    .mobile,
    .emailprofile,
    .nif,
    .address,
    .city,
    .zipcode,
    .soscontact,
    .sosusername,
    .linkedin {
        grid-template-columns: 86px 140px;
        grid-template-rows: auto;
    }

    .cardbox1{
        margin-top: 3%;
    }
}



@media screen and (max-width: 320px){
    .birthday,
    .academic,
    .status,
    .username,
    .age,
    .mobile,
    .emailprofile,
    .nif,
    .address,
    .city,
    .zipcode,
    .soscontact,
    .sosusername,
    .linkedin {
        grid-template-columns: 70px 135px;
    }
}
