@media screen and (min-width: 320px) and (max-width: 425px) {
    .flexstyle {
        margin-top: 20px;
        width: 230px;
        height: 180px;
        float: none;
        margin: auto;
    }

    #flexbuttons {
        grid-template-columns: 120px;
        width: 120px;
        margin-top: 30px;
    }

    #flexhours {
        grid-template-columns: 50px 30px 50px 50px;

    }

    #flexstyle {
        h6 {
            font-size: 10pt;
        }

        h1 {
            font-size: 25pt;
        }

        h4 {
            font-size: 15pt;
        }
    }

    #flexmonths {
        grid-template-columns: 280px;
        width: 280px;
        margin-top: 40px;
        text-align: center;
        margin: auto;
        margin-top: 30px;

        h1 {
            margin-left: 0px;
            font-size: 50pt;
            margin: auto;
        }

    }

    .block-content {

        table,
        th,
        td {
            width: 260px;
            font-size: 9pt;
            border: 1px solid black;
            margin-bottom: 15px;
        }

        td {
            background-color: #dee2e6;
        }

        padding: 0.25rem 0.25rem 1px;
    }

    #lastMonth {
        h3 {
            font-size: 15pt;
        }
    }

    #harvestForm {
        form {
            width: 270px;
        }
    }

    #apiToken,
    #harvestID,
    #harvestEmail {
        grid-template-columns: 100px 160px;
    }
}


@media screen and (min-width: 700px) and (max-width: 1100px) {
    #flexmonths {
        margin: auto;
        margin-top: 120px;
        grid-template-columns: 190px;
        text-align: center;
        width: 190px;

        h1 {
            margin-left: 0;
        }
    }

    .flexstyle {
        margin-left: 70px;
        width: 300px;
    }

}

@media only screen and (device-width: 425px) {
    .block-content {
        table {
            width: 330px;
        }
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .block-content {
        table {
            width: 280px;
        }
    }
}
